
// showing default values
$accentColor = #35CEFF
$textColor = #4A4A4A
$borderColor = #eaecef
$codeBgColor = #282c34


.theme-container.home-page {
  .hero img {
    width: 40%;
    background: red;
  }
}


